# https://fedoramagazine.org/automate-backups-with-restic-and-systemd/
[Unit]
Description=Restic backup service
[Service]
Type=simple
Restart=on-failure
RestartSec=30
ExecStart=%h/.restic/backup_healthchecks.sh
EnvironmentFile=%h/.restic/.env
